{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="row">
      <h1> {% block title %} Birthdays {% endblock %} </h1>
      <h2>Adding new birthday</h2>

      <form action="{{ url_for('birthday_page') }}" method="POST">
        {{ form.hidden_tag() }}

        <p>
          {{ form.firstname.label }}
          {{ form.firstname() }}
        </p>
        
        {% if form.firstname.errors %}
          <ul class="errors">
              {% for error in form.firstname.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
        {% endif %}

        <p>
          {{ form.lastname.label }}
          {{ form.lastname() }}
        </p>
        
        {% if form.lastname.errors %}
          <ul class="errors">
              {% for error in form.lastname.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
        {% endif %}

        <p>
          {{ form.email.label }}
          {{ form.email() }}
        </p>
        
        {% if form.email.errors %}
          <ul class="errors">
              {% for error in form.email.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
        {% endif %}

        <p>
          {{ form.birthday.label }}
          {{ form.birthday() }}
        </p>
        
        {% if form.birthday.errors %}
          <ul class="errors">
              {% for error in form.birthday.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
        {% endif %}
        <p>
          <input type="submit" value="Add birthday">
        </p>
      </form>
    <h1>Birthday database</h1>
    <table class="table table-hover table-striped">
      <thead class="table-dark">
        <tr>
          <th>LastName</th>
          <th>FirstName</th>
          <th>Birthday</th>
          <th>Followers</th>
          <th>Follow?</th>
        </tr>
      </thead>
      {% for bday in birthdays %}
      <tr>
        <td>{{ bday.lastname }}</td>
        <td>{{ bday.firstname }}</td>
        <td>{{ bday.birthday }}</td>
        <td>{{ bday.followers|length }}</td>
        <td><input type="checkbox" name="select"></td>
      </tr>
      {% endfor %}
    </table>
    </div>
  </div>

{% endblock %}