{% extends 'base.html' %}

{% block content %}
<div class="container mt-2">
<div class="row">
  <div class="col-md-6">
  <h1>{% block title %} Welcome, {{ current_user.username }}! {% endblock %}</h1>
    <p>Welcome to the Boys' Birthday Hub!
      Here, you'll find all the important dates to celebrate our friendships and each other's special days. This site is designed to keep us all connected and ensure we never miss a birthday. From planning parties to sending heartfelt wishes, we've got it all covered. Let's make every birthday unforgettable!
      Happy Celebrating!
    </p>
  </div>
</div>

  <h1>Birthday database</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>LastName</th>
      <th>FirstName</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>SevenDayReminder</th>
      <th>OneDayReminder</th>
      <th>SameDayReminder</th>
    </tr>
    {% for bday in birthdays %}
    <tr>
      <td>{{ bday.id }}</td>
      <td>{{ bday.lastname }}</td>
      <td>{{ bday.firstname }}</td>
      <td>{{ bday.email }}</td>
      <td>{{ bday.birthday }}</td>
      <td>{{ bday.seven_day_notify }}</td>
      <td>{{ bday.one_day_notify }}</td>
      <td>{{ bday.same_day_notify }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}